<template name="articleForm">

    <h2>Article</h2>
    <form class="article-form">
        <div class="form-group">
            <label for="nameArticle">Name of article</label>
            <input type="text" name="nameArticle" class="form-control" placeholder="Enter name of article">
        </div>
        <div class="form-group">
            <label for="contentArticle">Content</label>
            <input type="text" name="contentArticle" class="form-control" placeholder="Enter text">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Add article</button>
        </div>
    </form>
</template>
