<template name="home">
    <h2>Home</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{> articleForm}}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h1>Added Articles</h1>
                    {{#each articles}}
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h2>{{nameArticle}}</h2>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    {{contentArticle}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>
