<template name="layout">
  <nav class="navbar navbar-default">
        <!--<a href="/"></a>-->
      <ul class="nav navbar-nav">
                <li id="home-link"><a href="/">Home</a></li>
        {{#if currentUser}}
                <li><a href="/" class="logout">Logout</a></li>
         {{else}}
                <li id="signup-link"><a href="/signup">Sign Up</a></li>
                <li id="login-link"><a href="/login">Login</a></li>
        {{/if}}
               <li id="chart-link"><a href="/chart">Chart</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right right-user">
          <li class="logged-user">{{email}}</li>
      </ul>
   </nav>
    <div class="container-fluid">
        {{> yield}}
    </div>
</template>
