<template name="login">

    <h2>Account Login</h2>
    <form class="login-form col-sm-3">
        <div class="form-group row">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Email Address">
        </div>
        <div class="form-group row">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="password">
        </div>
        <div class="form-group row">
             <button type="submit" class="btn btn-lg btn-primary btn-block">Log In</button>
        </div>
        <p>No Account? <a href="/signup">Create Account</a></p>
    </form>

</template>
