/* CSS declarations go here */
#container {
    min-width: 510px;
    max-width: 900px;
    height: 600px;
    margin: 0 auto
}
.selected {
    background: lightgrey;
}
.right-user {
    padding-right: 100px;
    padding-top: 15px;
}