
<template name="signup">
    <h2>Sign up</h2>
    <form class="register col-sm-3">
        <div class="form-group row">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Email Address">
        </div>
        <div class="form-group row">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="password">
        </div>
        <div class="form-group row">
             <button type="submit" class="btn btn-lg btn-primary btn-block">Log In</button>
        </div>
    </form>
</template>

